# Monorepo DCPrism - GitIgnore
# ==============================

# Environment files
.env*
!.env.example

# Docker
docker-compose.override.yml
.docker/

# Logs
*.log
logs/

# Node modules
node_modules/
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Laravel specific (dans apps/)
lumiere/apps/*/vendor/
lumiere/apps/*/storage/logs/
lumiere/apps/*/storage/framework/cache/
lumiere/apps/*/storage/framework/sessions/
lumiere/apps/*/storage/framework/views/
lumiere/apps/*/bootstrap/cache/
lumiere/apps/*/public/hot
lumiere/apps/*/public/storage
lumiere/apps/*/storage/*.key

# Composer
composer.phar

# Build artifacts
dist/
build/
lumiere/apps/fresnel/database/schema/mysql-schema.sql
